.App {
  background-image: linear-gradient(#99DFF9, white, white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AppHeader {
  font-size: 1.8em;
  text-align: left;
  align-self: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.AppLogo {
  height: 150px;
  width: 150px;
  margin-right: 15px;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

#email-input, #password-input, .input span, .input div {
  margin: 10px 0px 0px 0px;
  font-size: 0.7em;
}

span.status {
  height: 10px;
  width: 10px;
  background-color: rgb(10, 200, 10);
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}

.select-status {
  padding: .6em 1.4em .5em .8em;
  background-color: white;
  color: black;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0px 0px 0px 10px;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
  border-radius: .5em;  
}

.input > span > select {
  border: 0px;
  outline: 0px;
}

#email-input, #password-input {
  border-style: none;
  border-radius: 5px;
  height: 25px;
  width: 140%;
  font-size: 0.8em;
  padding: 5px;
}

.submit-and-register {
  display: flex;
  justify-content: space-between;
}

#btn-sign-in, #btn-cancel {
  border-radius: 5px;
  border: none;
  margin: 10px 15px 15px 0px;
  width: 50%;
  height: 30px;
}